.container {
    height: 100%;
    width: 100%;
    display: flex;
    font-family: Poppins;
}

.left {
    width: 20%;
}

.right {
    width: 80%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}

.date {
    float: right;
    margin: 0;
    font-weight: 500;
    font-size: 1.2em;
    color: rgba(112, 112, 112, 1);
}

.welcome {
    font-size: 1.25em;
    font-weight: 600;
    width: 100%;
}

.header {
    display: flex;
    gap: 20px;
    width: 100%;
}

.header > p {
    font-weight: 500;
    font-size: 1.5em;
    margin: 10px;
}

.menu {
    position: relative;
    margin-left: auto;
    align-self: center;
}

.filter {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.options {
    position: absolute;
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 22px 0px rgba(126, 122, 122, 0.25);
    border-radius: 12px;
    padding: 10px 15px;
    width: 150px;
    right: 0;
    top: 40px;
    font-size: 0.9em;
    font-weight: 500;
    cursor: auto;
    z-index: 100;
}

.options > li {
    margin: 5px;
    cursor: pointer;
    padding: 5px 15px 5px 5px;
}

.body {
    flex: 1;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 15px;
}


.body::-webkit-scrollbar {
   height: 10px;
}

.body::-webkit-scrollbar-track {
    background-color: transparent;
}

.body::-webkit-scrollbar-thumb {
    background-color: hsla(200, 26%, 69%, 1);
    border-radius: 10px;
}