@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@400;500;600;700&display=swap");

.container {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid rgba(226, 226, 226, 1);
  width: 100%;
  box-sizing: border-box;
}

.cbContainer {
  display: inline-flex;
  align-items: center;
  user-select: none;
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-weight: 400;
}

.inputChkbox {
  height: 0;
  width: 0;
}

.chkbox {
    height: 15px;
    width: 15px;
    border-radius: 6px;
    border: 2px solid rgba(226, 226, 226, 1);
    margin-right: 10px;
    position: relative;
}

.cbContainer .chkbox:after {
  top: -5px;
  width: 5px;
  height: 10px;
  left: 2px;
  color: white;
  content: "✓";
  position: absolute;
  display: none;
}

.inputChkbox:checked ~ .chkbox:after {
  display: block;
}

.cbContainer input:checked ~ .chkbox {
  background-color: rgba(23, 162, 184, 1);
  border-color: rgba(23, 162, 184, 1);
}
