.container {
    background: #17A2B8;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.main {
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.circle {
    height: 250px;
    width: 250px;
    background: #317F8B;
    border-radius: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}

.imgcontainer {
    height: 70%;    
}

.heroimg {
    position: absolute;
    height: 100%;
    top: 20%;
}

.tagline {
    text-align: center;
    font-family: 'Open Sans';
    
}

.heading {
    font-weight: 600;
    font-size: 1.5em;
}

.tagline > * {
    margin: 10px;
}

.subheading {
    font-weight: 400;
    font-size: 1em;
}