@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.logout {
    color: #CF3636;
    font-weight: 500;
    padding-left: 10%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    font-family: Poppins;
    cursor: pointer;
}

.container {
    height: 200px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    gap: 10px;
}

.confirm {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 0.9em;
}

.yes, .cancel {
    height: 45px;
    width: 300px;
    box-shadow: 0px 2px 12px 0px rgba(130, 105, 140, 0.2);
    font-family: Poppins;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
}

.yes {
    background-color: rgba(23, 162, 184, 1);
    color: white;
    border: none;
}

.cancel {
    color: rgba(207, 54, 54, 1);
    background-color: transparent;
    border: 1px solid rgba(207, 54, 54, 1);
}